.BookList__list{
    display: grid !important;
    margin: 20px 0 50px 0 !important;
    grid-template-columns: repeat(3,1fr) !important;
    grid-auto-rows: 1fr !important;
    grid-gap: 1em !important;
}